div.rates
{
	padding-left:20px;
	font-size:20px;
	padding-bottom:40px;
	padding-top:70px;
}
img#image {
 width: 80%;
 height: 60%;
}
form#porder
{
	padding-left:20px;
	padding-bottom:40px;
}
div#billing
{
	width:80%;
	height:60%;
	font-size :20px;
}
h1
{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: bold;
  top: 350px;
  text-align: center;
}

#order
{
  background-color: red;
}
.container-fluid ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;/* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.container-fluid ul li:hover
{
  background-color: yellow;
}
.headingoneachpage label
{
  border: 1px solid black;

}
.pizzaimages
{
  float: right;
  display: none;;
}
div#billing
{
	display:none;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:40px;
	padding-right:40px;
	
}