
#image {
 width: 100%;
 height: 50%;
}

h1
{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 100px;
  font-weight: bold;
  top: 350px;
  text-align: center;
}
.container-fluid ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%%;
    background-color: black;/* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
#nested-menu
{
  display: none;
}
